# {{ ansible_managed }}

bind {{ keydb_active_replication_conf.bind | default('0.0.0.0') }}
protected-mode {{ keydb_active_replication_conf.protected_mode | default('yes') }}
port {{ keydb_active_replication_conf.port | default('6379') }}

tcp-backlog {{ keydb_active_replication_conf.tcp_backlog | default('511') }}
timeout {{ keydb_active_replication_conf.timeout | default('0') }}
tcp-keepalive {{ keydb_active_replication_conf.tcp_keepalive | default('300') }}

################################# GENERAL #####################################

daemonize {{ keydb_active_replication_conf.daemonize | default('yes') }}
supervised {{ keydb_active_replication_conf.supervised | default('systemd') }}
pidfile /var/run/keydb/keydb-server.pid
loglevel {{ keydb_active_replication_conf.loglevel | default('notice') }}
logfile {{ keydb_active_replication_conf.logfile | default('/var/log/keydb/keydb.log') }}
databases {{ keydb_active_replication_conf.databases | default('16') }}
server-threads {{ keydb_active_replication_conf.server_threads | default('2') }}
server-thread-affinity {{ keydb_active_replication_conf.server_thread_affinity | default('true') }}

################################ SNAPSHOTTING  ################################
{% if keydb_active_replication_conf.save is defined %}
{% for save in keydb_active_replication_conf.save %}
save {{ save }}
{% endfor %}
{% endif %}
stop-writes-on-bgsave-error {{ keydb_active_replication_conf.stop_writes_on_bgsave_error | default('no') }}
rdbcompression {{ keydb_active_replication_conf.rdbcompression | default('yes') }}
rdbchecksum {{ keydb_active_replication_conf.rdbchecksum | default('yes') }}
dbfilename {{ keydb_active_replication_conf.dbfilename | default('keydb_dump_default.rdb') }}
dir {{ keydb_active_replication_conf.dir | default('/var/lib/keydb') }}

################################# REPLICATION #################################

repl-backlog-size {{ keydb_active_replication_conf.repl_backlog_size | default('20mb') }}
repl-diskless-sync {{ keydb_active_replication_conf.repl_diskless_sync | default('yes') }}
repl-diskless-sync-delay {{ keydb_active_replication_conf.repl_diskless_sync_delay | default('10') }}
repl-disable-tcp-nodelay {{ keydb_active_replication_conf.repl_disable_tcp_nodelay | default('no') }}
slave-priority {{ keydb_active_replication_conf.slave_priority | default('100') }}
min-slaves-to-write {{ keydb_active_replication_conf.min_slaves_to_write | default('0') }}
min-slaves-max-lag {{ keydb_active_replication_conf.min_slaves_max_lag | default('20') }}
multi-master yes
active-replica yes
{% for address in keydb_ip_address_list -%}
{% if address != hostvars[inventory_hostname]['ansible_default_ipv4']['address'] %}
replicaof {{ address }} {{ keydb_active_replication_conf.port | default('6379') }}
{% endif %}
{% endfor %}

################################## SECURITY ###################################
{% if keydb_active_replication_conf.requirepass is defined %}
requirepass {{ keydb_active_replication_conf.requirepass }}
masterauth {{ keydb_active_replication_conf.requirepass }}
{% endif %}
{% if keydb_active_replication_conf.rename_commands is defined %}
{% for command in keydb_active_replication_conf.rename_commands -%}
rename-command {{ command }} "SEC{{ command }}"
{% endfor %}
{% endif %}

################################### LIMITS ####################################

maxclients {{ keydb_active_replication_conf.maxclients | default('100000') }}
maxmemory {{ keydb_active_replication_conf.maxmemory | default('256m') }}

maxmemory-policy {{ keydb_active_replication_conf.maxmemory_policy | default('allkeys-lru') }}
maxmemory-samples {{ keydb_active_replication_conf.maxmemory_samples | default('5') }}

############################## APPEND ONLY MODE ###############################

appendonly {{ keydb_active_replication_conf.appendonly | default('yes') }}
appendfilename {{ keydb_active_replication_conf.appendfilename | default('keydb_appendonly_default.aof') }}
appendfsync {{ keydb_active_replication_conf.appendfsync | default('everysec') }}
no-appendfsync-on-rewrite {{ keydb_active_replication_conf.no_appendfsync_on_rewrite | default('no') }}
auto-aof-rewrite-percentage {{ keydb_active_replication_conf.auto_aof_rewrite_percentage | default('150') }}
auto-aof-rewrite-min-size {{ keydb_active_replication_conf.auto_aof_rewrite_min_size | default('128mb') }}
aof-load-truncated {{ keydb_active_replication_conf.aof_load_truncated | default('yes') }}
aof-use-rdb-preamble {{ keydb_active_replication_conf.aof_use_rdb_preamble | default('no') }}

################################ LUA SCRIPTING  ###############################

lua-time-limit {{ keydb_active_replication_conf.lua_time_limit | default('5000') }}

################################ REDIS CLUSTER  ###############################
cluster-enabled no
cluster-config-file {{ keydb_active_replication_conf.cluster_config_file | default('/var/lib/keydb/nodes_default.conf') }}
cluster-node-timeout {{ keydb_active_replication_conf.cluster_node_timeout | default('5000') }}
cluster-slave-validity-factor {{ keydb_active_replication_conf.cluster_slave_validity_factor | default('1') }}
cluster-migration-barrier {{ keydb_active_replication_conf.cluster_migration_barrier | default('1') }}
cluster-require-full-coverage {{ keydb_active_replication_conf.cluster_require_full_coverage | default('no') }}
cluster-allow-reads-when-down {{ keydb_active_replication_conf.cluster_allow_reads_when_down | default('yes') }}
repl-ping-slave-period {{ keydb_active_replication_conf.repl_ping_slave_period | default('2') }}


################################## SLOW LOG ###################################

slowlog-log-slower-than {{ keydb_active_replication_conf.slowlog_log_slower_than | default(10000) }}
slowlog-max-len {{ keydb_active_replication_conf.slowlog_max_len | default(512) }}

################################ LATENCY MONITOR ##############################

latency-monitor-threshold {{ keydb_active_replication_conf.latency_monitor_threshold | default('3') }}

############################# EVENT NOTIFICATION ##############################

notify-keyspace-events {{ keydb_active_replication_conf.notify_keyspace_events | default('""') }}

############################### ADVANCED CONFIG ###############################

hash-max-ziplist-entries {{ keydb_active_replication_conf.hash_max_ziplist_entries | default('512') }}
hash-max-ziplist-value {{ keydb_active_replication_conf.hash_max_ziplist_value | default('64') }}
list-max-ziplist-size {{ keydb_active_replication_conf.list_max_ziplist_size | default('-2') }}
list-compress-depth {{ keydb_active_replication_conf.list_compress_depth | default('0') }}
set-max-intset-entries {{ keydb_active_replication_conf.set_max_intset_entries | default('512') }}
zset-max-ziplist-entries {{ keydb_active_replication_conf.zset_max_ziplist_entries | default('128') }}
zset-max-ziplist-value {{ keydb_active_replication_conf.zset_max_ziplist_value | default('64') }}
hll-sparse-max-bytes {{ keydb_active_replication_conf.hll_sparse_max_bytes | default('3000') }}
activerehashing {{ keydb_active_replication_conf.activerehashing | default('yes') }}
client-output-buffer-limit normal {{ keydb_active_replication_conf.client_output_buffer_limit_normal | default('0 0 0')}}
client-output-buffer-limit slave {{ keydb_active_replication_conf.client_output_buffer_limit_slave | default('256mb 64mb 60') }}
client-output-buffer-limit pubsub {{ keydb_active_replication_conf.client_output_buffer_limit_pubsub | default('32mb 8mb 60') }}
hz {{ keydb_active_replication_conf.hz | default('10') }}
aof-rewrite-incremental-fsync {{ keydb_active_replication_conf.aof_rewrite_incremental_fsync | default('yes') }}