# {{ ansible_managed }}
# /etc/systemd/system/redis_exporter.service
[Unit]
Description=Redis Exporter
Wants=network-online.target
After=network-online.target

[Service]
User=keydb
Group=keydb
Type=simple
ExecStart=/usr/local/bin/redis_exporter -redis.addr redis://127.0.0.1:{{ keydb_active_replication_conf.port | default('6379') }}

[Install]
WantedBy=multi-user.target
